html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    cursor: pointer;
}

.is-resolved {
    text-decoration: line-through;
    color: #ccc !important;
    cursor: default;
}

[v-cloak] {
    display: none;
}